@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #050505;
  --foreground: #ededed;
  --accent: #E3FF00;
  /* Neon Lime */
}

@layer base {
  body {
    @apply bg-[#050505] text-[#ededed] antialiased selection:bg-[#E3FF00] selection:text-black;
    font-feature-settings: "rlig" 1, "calt" 1;
  }

  /* Custom Scrollbar for Webkit */
  ::-webkit-scrollbar {
    width: 6px;
  }

  ::-webkit-scrollbar-track {
    background: #050505;
  }

  ::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 3px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .glass-panel {
    @apply bg-white/5 backdrop-blur-md border border-white/10 shadow-xl;
  }
}